/* Navbar CSS */

li {
    list-style-type: none;
    margin:0px 32px;
    justify-items: center;
    color: white;
    font-size: medium;
}

li:hover{
    font-weight: 700;
}

.logo {
    width: 144px;
}

.nav-container{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: purple;
}

.nav-items{
    display: flex;
    padding:36px 4px;
}

/* Homepage CSS */

.stats-heading{
    color:gray;
}

.stats-item{
    text-align: center;
    margin: 0px 64px;
    padding: 12px 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.stats{
    display: flex;
    justify-content: center;
}

.stats-container{
    padding: 32px;
}